@model ResturantFinder.Models.UserTableDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>DeleteConfirm</h2>


<h3>@Model.UserName</h3>


<form action="/UserTables/Update/@Model.UserId" method="post">
    <input type="hidden" name="UserId" value="@Model.UserId" />
    <input type="submit" value="Delete User" />
</form>
