
@{
    ViewBag.Title = "New";
}
<link rel="stylesheet" href="~/Content/styles.css">
<a href="/UserTables/UserList" class="button">Go back</a>
<h2>Register User</h2>
<form action="/UserTables/Add" method="post" class="add-form">
    <div>
        <label>User Name:</label>
        <input type="text" name="UserName" />
    </div>
    <div>
        <label>Email:</label>
        <input type="text" name="EmailId" />
    </div>
    <div>
        <label>Nationality:</label>
        <input type="text" name="Nationality" />
    </div>
    <div>
        <label>Type:</label>
        <input type="text" name="Type" />
    </div>
    <div>
        <p>Gender:</p>
        <input type="radio" id="gender" name="Gender" value="Male">
        <label for="Male">Male</label><br>
        <input type="radio" id="css" name="Gender" value="Female">
        <label for="Female">Female</label><br>
    </div>
    <div>
        <input type="submit" value="Add User" class="button-submit"/>
    </div>
</form>