@model IEnumerable<ResturantFinder.Models.UserTableDto>
@{
    ViewBag.Title = "UserList";
}

<h2>UserList</h2>
<link rel="stylesheet" href="~/Content/styles.css">

<a href="/UserTables/New">New user register</a>
@foreach (var user in Model)
{
    <div class="Resturant-list">
        <a href="/UserTables/Details/@user.UserId"><h2>@user.UserName</h2></a>
    </div>
}


