
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<link rel="stylesheet" href="~/Content/styles.css">
<a href="/Restaurant/List" class="button">Go back</a>
<form action="/Restaurant/Create" method="post" class="add-form">
    <div>
        <label>Resturant Name:</label>
        <input type="text" name="Name" />
    </div>
    <div>
        <label>Resturant Email:</label>
        <input type="text" name="EmailId" />
    </div>
    <div>
        <label>Resturant Nationality:</label>
        <input type="text" name="FoodNationality" />
    </div>
    <div>
        <label>Resturant Adress:</label>
        <input type="text" name="Adress" />
    </div>
    <div>
        <input type="submit" value="AddResturant" class="button-submit"/>
    </div>
</form>

