@model ResturantFinder.Models.ReviewDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>DeleteConfirm</h2>


<h3>@Model.ResturantName</h3>


<form action="/Reviews/Delete/@Model.ReviewId" method="post">
    <input type="hidden" name="UserId" value="@Model.ReviewId" />
    <input type="submit" value="Delete Review" />
</form>
