@model ResturantFinder.Models.ReviewDto
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<a href="/Reviews/ReviewsLis">Go Back</a>

<h3>@Model.ResturantName</h3>
<a href="/Reviews/DeleteConfirm/@Model.ReviewId">Delete</a>
<a href="/Reviews/Edit/@Model.ReviewId">Edit</a>

