@model IEnumerable<ResturantFinder.Models.RestaurantDto>
@{
    ViewBag.Title = "New";
}
<link rel="stylesheet" href="~/Content/styles.css">
<a href="/Reviews/ReviewsList" class="button">Go back</a>
<a href="/UserTables/UserList">Go back to UsrList</a>
<h2>Add Review</h2>
<form action="/Reviews/Add" method="post" class="add-form">
    <div>
        <label>Resturant Name:</label>
        <select name="ResturantName">
            @foreach (var restaurants in Model)
            {
                <option value="@restaurants.Name">
                    @restaurants.Name
                </option>
            }
        </select>
    </div>
    <div>
        <label>Rating Food:</label>
        <input type="text" name="RatingFood" />
    </div>
    <div>
        <label>Rating Asthetics:</label>
        <input type="text" name="RatingAsthetics" />
    </div>
    <div>
        <label>Rating Feelings:</label>
        <input type="text" name="RatingFeeling" />
    </div>
    <div>
        <label>Confirm Resturant Name</label>
        <select name="Id">
            @foreach (var restaurants in Model)
            {
                <option value="@restaurants.Id">
                    @restaurants.Name
                </option>
            }
        </select>
    </div>
    <div>
        <label>Add Your User Id</label>
        <input type="text" name="UserId"/>
    </div>
    <div>
        <label>Review:</label>
        <input type="text" name="ReviewsDes" />
    </div>
    <div>
        <input type="submit" value="Add Review" class="button-submit"/>
    </div>
</form>