@model IEnumerable<ResturantFinder.Models.ReviewDto>
@{
    ViewBag.Title = "ReviewsList";
}

<h2>ReviewList</h2>
<link rel="stylesheet" href="~/Content/styles.css">
<a href="/Reviews/New" class="button">Add A review</a>
@foreach (var review in Model)
{
    <div class="Resturant-list">
        <a href="/Reviews/Details/@review.ReviewId"><h2>@review.ResturantName</h2></a>
    </div>
}




